 @font-face {
     font-family: FixedsysExcelsior301Regular;
     src: url('fsex300-webfont.ttf');
}
 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
 body, html {
     height: 100%;
 
}
 .limiter {
     width: 100%;
     margin: 0 auto;

	background: #1a1818;

}

 .box {
     width: 100%;
     min-height: 100vh;
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 10px;

}

 .terminal {
     width: 800px;
     position: relative;
}

 .terminal-window
 {
     height:600px;
     margin-bottom: 12px;
 }

#terminal-output {
     color: white;
     font: 1.3rem FixedsysExcelsior301Regular;
     line-height: 1.2;
     font-size: 18px;
     width: 100%;
     height: 100%;
     display: block;
     text-shadow: 0 0 9px #C8C8C8;
     padding: 15px 35px 25px 65px;
     overflow:hidden;

     background-color: #000;
     background-image: radial-gradient( rgba(0, 140, 0, 0.95), black 135% );
	 resize: none;
	 
}


 



 
